* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.box-layout {
  background: url("/img/bg.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-layout__box {
    background: fade-out(white, .15);
    border-radius: 3px;
    text-align: center;
    width: 25rem;
    padding: $l-size $m-size;
}



.box-layout__box-heading{
    margin: 0 0 $m-size 0;
    line-height: 1;
}