.form {

    display: flex;
    flex-direction: column;

    > * {
        margin-bottom: $m-size;
    }

    &__error {
        margin: 0 0 $m-size 0;
        font-size: italic;
        font-size: 1.8rem;
    }
}
