.page-header {
    background: $off-white;
    padding: $l-size 0;
    margin-bottom: $l-size;

    &__title {
        margin: 0;
        font-weight: 400;
    }

    &__actions {
        margin-top: $m-size;
        
    }

    span {
        font-weight: 700;
    }
}